<div class="row g-3 mb-3 row-deck">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <div class="info-header" style="display: flex;">
                    <h5 class="mb-0 fw-bold ">Issues</h5>
                    <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#creatissue" style="margin-left: 950px;"><i class="icofont-plus-circle me-2 fs-6"></i>Create Issue</button>
                </div>
            </div>
            <div class="card-body">
                <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Key</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Reporter</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Deleted On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="~/assets/images/bug.svg" alt="bug" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-573</td>
                            <td><a href="projects.html">Worked on NRA API</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-warning">TO-DO</span></td>
                            <td>Oct 12, 2022</td>
                            <td>Oct 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/bug.svg" alt="bug" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-356</td>
                            <td><a href="projects.html">Fire a mail</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><span class="badge bg-secondary">MEDIUM</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Sept 12, 2022</td>
                            <td>Sept 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/story.svg" alt="story" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-674</td>
                            <td><a href="projects.html">Worked on my project</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><span class="badge bg-secondary">MEDIUM</span></td>
                            <td><span class="badge bg-danger">IN-PROGRESS</span></td>
                            <td>Sept 12, 2022</td>
                            <td>Sept 13, 2022</td>
                        </tr><tr>
                            <td><img src="~/assets/images/story.svg" alt="story" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-573</td>
                            <td><a href="projects.html">Worked on NRA API</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>

                            <td><span class="badge bg-warning">TO-DO</span></td>
                            <td>Oct 12, 2022</td>
                            <td>Oct 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/bug.svg" alt="bug" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-356</td>
                            <td><a href="projects.html">Fire a mail</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><span class="badge bg-secondary">MEDIUM</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Sept 12, 2022</td>
                            <td>Sept 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/story.svg" alt="story" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-674</td>
                            <td><a href="projects.html">Worked on my project</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><span class="badge bg-success">LOW</span></td>
                            <td><span class="badge bg-danger">IN-PROGRESS</span></td>
                            <td>Sept 12, 2022</td>
                            <td>Sept 13, 2022</td>
                        </tr><tr>
                            <td><img src="~/assets/images/story.svg" alt="story" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-573</td>
                            <td><a href="projects.html">Worked on NRA API</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>

                            <td><span class="badge bg-warning">TO-DO</span></td>
                            <td>Jul 16, 2022</td>
                            <td>Jul 17, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/bug.svg" alt="bug" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-356</td>
                            <td><a href="projects.html">Fire a mail</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><span class="badge bg-secondary">MEDIUM</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Feb 12, 2022</td>
                            <td>Feb 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/story.svg" alt="story" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-674</td>
                            <td><a href="projects.html">Worked on my project</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><span class="badge bg-success">LOW</span></td>
                            <td><span class="badge bg-danger">IN-PROGRESS</span></td>
                            <td>Jan 12, 2022</td>
                            <td>Jan 23, 2022</td>
                        </tr><tr>
                            <td><img src="~/assets/images/task.svg" alt="task" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-573</td>
                            <td><a href="projects.html">Worked on NRA API</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>

                            <td><span class="badge bg-warning">TO-DO</span></td>
                            <td>Aug 12, 2022</td>
                            <td>Aug 13, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/bug.svg" alt="bug" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-356</td>
                            <td><a href="projects.html">Fire a mail</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Rasheed</a></td>
                            <td><span class="badge bg-success">LOW</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Sept 28, 2022</td>
                            <td>Sept 30, 2022</td>
                        </tr>
                        <tr>
                            <td><img src="~/assets/images/task.svg" alt="task" class="avatar sm  rounded-circle me-2"></td>
                            <td>TEAM-674</td>
                            <td><a href="projects.html">Worked on my project</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><span class="badge bg-secondary">MEDIUM</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Sept 20, 2022</td>
                            <td>Sept 23, 2022</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- Row End -->

<div class="modal fade" id="creatissue" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="createprojectlLabel"> Create Issue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" style="font-size: .8rem; font-weight: 600;">Project  <span style="color: red;">*</span></label>
                    <select class="form-select" aria-label="Default select Project Category">
                        <option value="1" style="font-size: .8rem;">EBK</option>
                        <option value="2" style="font-size: .8rem;">NRA</option>
                        <option value="3" style="font-size: .8rem;">REVSYS</option>
                        <option value="4" style="font-size: .8rem;">DASHBOARD MONITOR</option>
                        <option value="5" style="font-size: .8rem;">RIA</option>
                        <option value="6" style="font-size: .8rem;">IBANK</option>
                        <option value="7" style="font-size: .8rem;">Social Geek Made</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: .8rem; font-weight: 600;">Issue type  <span style="color: red;">*</span></label>
                    <select class="form-select" aria-label="Default select Project Category">
                        <option value="1" style="font-size: .8rem;">Story</option>
                        <option value="2" style="font-size: .8rem;">Bug</option>
                        <option value="3" style="font-size: .8rem;">Task</option>
                        <option value="3" style="font-size: .8rem;">Epic</option>
                  
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: .8rem; font-weight: 600;">Status </label>
                    <select class="form-select" aria-label="Default select Project Category" style="width: 45%">
                        <option value="1" style="font-size: .8rem;">TO-DO</option>
                        <option value="2" style="font-size: .8rem; color: blue">IN PROGRESS</option>
                        <option value="3" style="font-size: .8rem; color: green;">DONE</option>
          
                    </select>
                </div> <div class="mb-3">
                    <label class="form-label" style="font-size: .8rem; font-weight: 600;">Summary </label>
                      <input / style="width: 100%; height: 50px;">
                </div>
                
               
                <div class="row g-3 mb-3">
                    <div class="col-sm">
                        <label class="form-label">Assignee</label>
                        <select class="form-select" aria-label="Default select Project Category">
                            <option value="1" style="font-size: .8rem;">Peter</option>
                            <option value="2" style="font-size: .8rem;">Yosi</option>
                            <option value="3" style="font-size: .8rem;">Wale</option>
                            <option value="4" style="font-size: .8rem;">Jennifer</option>
                            <option value="5" style="font-size: .8rem;">Pius</option>
                            <option value="6" style="font-size: .8rem;">VIctor</option>
                            <option value="7" style="font-size: .8rem;">Leo</option>
                        </select>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm">
                        <label class="form-label">Task Priority</label>
                        <select class="form-select" aria-label="Default select Project Category">
                            <option value="1" style="font-size: .8rem; color: red; font-weight: 600;">High</option>
                            <option value="2" style="font-size: .8rem; color: blue; font-weight: 600;">Low</option>
                            <option value="3" style="font-size: .8rem; color: yellow; font-weight: 600;">Medium</option>

                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea786" class="form-label">Description (optional)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea786" rows="3" placeholder="Add any extra details about the request"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>