<div class="row g-3 mb-3 row-deck">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <div class="info-header" style="display: flex !important;">
                    <h6 class="mb-0 fw-bold ">Issues</h6>

                    <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#createissue" style="margin-left: 950px !important;"><i class="icofont-plus-circle me-2 fs-6"></i>Create Issue</button>
                </div>
            </div>
            <div class="card-body">
                <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Key</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Reporter</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Update On</th>


                        </tr>
                    </thead>
                    <tbody style="font-size: .8rem !important;">
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-382</td>
                            <td ><a href="#"style="color: blue !important;">Changed Navbar background color</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi </a></td>
                            <td><span class="badge bg-warning">MEDIUM</span></td>
                            <td><span class="badge bg-dark">TO-DO</span></td>
                            <td>Oct 15, 2022</td>
                            <td>Oct 19, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-383</td>
                            <td ><a href="#"style="color: blue !important;">Added Modal to my login form">Added Modal to my login form</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Wale</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Remi </a></td>
                            <td><span class="badge bg-warning">MEDIUM</span></td>
                            <td><span class="badge bg-lightblue">IN PROGRESS</span></td>
                            <td>Oct 02, 2022</td>
                            <td>Oct 10, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-374</td>
                            <td ><a href="#"style="color: blue !important;">Worked on my project (school portal)</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Leo</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yemi </a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-lightblue">IN PROGRESS</span></td>
                            <td>Sept 02, 2022</td>
                            <td>Sep 10, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-684</td>
                            <td ><a href="#"style="color: blue !important;">Clone NRA API from Bitbucket</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Pius</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Pius </a></td>
                            <td><span class="badge bg-warning">MEDIUM</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Oct 02, 2022</td>
                            <td>Oct 10, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-969</td>
                            <td ><a href="#"style="color: blue !important;">Deployed Zenith on test server</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Daivd</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yemi </a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-lightblue">IN PROGRESS</span></td>
                            <td>Oct 02, 2022</td>
                            <td>Oct 10, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-894</td>
                            <td ><a href="#"style="color: blue !important;">Fired a mail to support</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Peter</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Simiat</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Oct 16, 2022</td>
                            <td>Oct 17, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-374</td>
                            <td <a href="#"style="color: blue !important;">>Had a presentation with the management</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Bukky</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Ade </a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-success">DONE</span></td>
                            <td>Oct 02, 2022</td>
                            <td>Oct 10, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-284</td>
                            <td> <a href="#" style="color: blue !important;">Took my C# class</a> </td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Yosi</a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-lightblue">IN PROGRESS</span></td>
                            <td>Oct 15, 2022</td>
                            <td>Oct 19, 2022</td>
                        </tr>
                        <tr>
                            <td><a href="projects.html">**</a></td>
                            <td style="color: darkblue !important;">TEAM-859</td>
                            <td><a href="#" style="color: blue !important;">System issue</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Wale</a></td>
                            <td><img src="~/assets/images/xs/avatar1.jpg" alt="Avatar" class="avatar sm  rounded-circle me-2"><a href="#">Wale </a></td>
                            <td><span class="badge bg-danger">HIGH</span></td>
                            <td><span class="badge bg-lightblue">IN PROGRESS</span></td>
                            <td>Oct 02, 2022</td>
                            <td>Oct 10, 2022</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createissue" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="createprojectlLabel"> Create Issue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" style="font-size: .7rem !important; font-weight: 700 !important;">Project Name <span style="color: red !important;">*</span></label>
                        <select class="form-select" aria-label="Default select Project Category">
                            <option value="1" style="font-size: .8rem !important;">Gambia dashboard</option>
                            <option value="2" style="font-size: .8rem !important;">Nra</option>
                            <option value="3" style="font-size: .8rem !important;">TeamIetech</option>
                            <option value="4" style="font-size: .8rem !important;">Dangote collection</option>
                            <option value="5" style="font-size: .8rem !important;">Orange money</option>
                            <option value="6" style="font-size: .8rem !important;">Ibank</option>
                            <option value="7" style="font-size: .8rem !important;">Dashboard monitor</option>
                            <option value="8" style="font-size: .8rem !important;">Afro internation</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="font-size: .7rem !important; font-weight: 700 !important;">Issue Type <span style="color: red !important;">*</span></label>
                        <select class="form-select" aria-label="Default select Project Category">
                            <option selected style="font-size: .8rem !important;">Task</option>
                            <option value="1" style="font-size: .8rem !important;">Bug</option>
                            <option value="2" style="font-size: .8rem !important;">Epic</option>

                        </select>
                    </div>


                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label class="form-label" style="font-size: .7rem !important; font-weight: 700 !important;">Task Priority <span style="color: red !important;">*</span></label>
                            <select class="form-select" aria-label="Default select Priority">
                                <option >Highest</option>
                                <option >High</option>
                                <option value="1" style="font-size: .8rem !important;">Medium</option>
                                <option value="2" style="font-size: .8rem !important;">Low</option>
                                <option value="3" style="font-size: .8rem !important;">Lowest</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label class="form-label" style="font-size: .7rem !important; font-weight: 700 !important;">Status</label>
                            <select class="form-select" aria-label="Default select Priority">
                                <option value="1" style="font-size: .7rem !important; color: dimgrey !important; font-weight: 700 !important; ">TO-DO</option>
                                <option value="2" style="font-size: .7rem !important; color: blue !important; font-weight: 700 !important;">IN PROGRESS</option>
                                <option value="3" style="font-size: .7rem !important; color: green !important;  font-weight: 700 !important; ">DONE</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label class="form-label" style="font-size: .7rem !important; font-weight: 700 !important;">Summary <span style="color: red !important;">*</span></label>
                            <input / style="width: 100% !important; height: 40px;">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea786" class="form-label">Description (optional)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea786" rows="3" placeholder="Add any extra details about the request"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  Remove Task-->
    <div class="modal fade" id="dremovetask" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="dremovetaskLabel"> Remove From Task?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body justify-content-center flex-column d-flex">
                    <i class="icofont-ui-rate-remove text-danger display-2 text-center mt-2"></i>
                    <p class="mt-4 fs-5 text-center">You can  Remove only From Task</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger color-fff">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- Row End -->
<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>

<!-- Plugin Js-->
<script src="assets/bundles/apexcharts.bundle.js"></script>
<script src="assets/bundles/dataTables.bundle.js"></script>

<!-- Jquery Page Js -->
<script src="../js/template.js"></script>
<script src="../js/page/index.js"></script>